/* MDN tutorials:
*   https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/Getting_started
*
* selectors: '.' : class
*            '#' : id
* (ref: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors)
*/

/* background-image: url(Black-Lives-Matter_Coyote-Brush-Studios_800x533.jpg);*/
#introduction {
    background-repeat: no-repeat;
    background-position: center;
}

#introduction h1, h2, p, dl, div {
    padding-left: 10px;
    padding-right: 10px;
}

.nonstates, .states {
    /* flex: https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox */
    /* grid: https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.cdate, .dsince {
    text-decoration: underline;
}

/* from org-mode */
#postamble p, #preamble p { font-size: 90%; margin: .2em; }

/* no-wrap: https://stackoverflow.com/a/18753896 */
.nowrap {
    white-space: nowrap;
}

/* https://stackoverflow.com/a/12232705 */
#toc {
    padding: .5em;
    border-radius: 5px;
    position: fixed;
    right: 0em;
    top: 0em;
    border: 1px solid lightgray;
    margin-top: 5px;
    background-color:#FFF;
    box-shadow: 0 0 1em #777777;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
}

#toc #full {
    display: none;
} /* Hide the full TOC by default */

#toc:hover #full{
    display: block; /* Show it on hover */
}

/* links */

/* tooltips are set w.r.t. a "positioned" ancestor; our checkboxes
   (e.g., wexg) were "positioned", but our radio buttons were not.
   XXX maybe i should do something with bootstrap, but this seems to
   work. */
#otherpages .qtip {
    position: relative;
}

#otherpages .tooltip-inner {
    opacity: 1;
}

/* https://scottpdawson.com/simple-css-for-disabled-buttons */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/opacity (use
   =background= instead, if ou want to not have children inherit the
   opacity, which we don't want, in order to have tooltips not be
   messed up with whatever is behind them on the screen) */
.conflict {
    background: rgba(51, 122, 183, 0.65);
}

#tabsdiv {
    margin: 5px;
    border: solid 1px black;
    padding: 5px;
}

.tab-content {
    margin-top: 15px;
}

/* https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling */
#otherpages input {
  -webkit-appearance: none; 
  appearance: none;
}

#otherpages input[type=radio] {
    margin: 0;
}

#otherpages label {
    margin: 0;
}

/* the box model:
   https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model
   */
fieldset, #otherpagesgo {
    margin: 5px;
}
